@mixin radius($value) {
    border-radius: $value;
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
}

$colorDark: #444444;
$colorGreat: #15655c;
$color: #890101;
$colorHover: #890101;
$transition: 0.125s;

body {
    font-family: "Roboto Condensed", sans-serif;
}

// Overrides
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

// Text colors
.text-accent {
    color: $color;
}
.text-great {
    color: $colorGreat;
}

// Background colors
.bg-accent {
    background-color: $color;
}
.bg-great {
    background-color: $colorGreat;
}

.navbar {
    padding: 0;
    height: 4.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .container-xl {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navbar-brand {
            width: 123px;

            .logo {
                height: 2em;
            }
        }

        .search-box {
            width: 350px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .form-control {
                height: 2.5em;
                border-radius: 0.75em 0 0 0.75em;
            }
            .btn {
                display: flex;
                align-items: center;
                height: 2.5em;
                border-radius: 0 0.75em 0.75em 0;
                color: #fff;
                background-color: $color;

                &:hover {
                    background-color: $colorHover;
                }
            }
        }

        .navbar-action-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1em;

            .nab-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5em;
                height: 2.5em;
                min-width: 2.5em;
                padding: 0.5em 1em;
                border: 1px solid #ededed;
                border-radius: 1em;
                color: #333;
                cursor: pointer;

                &:hover {
                    color: $color;
                    border: 1px solid $color;
                }
                &:active {
                    color: $colorGreat;
                    border: 1px solid $colorGreat;
                }
            }
            .nab-shop {
                color: $color;
                border: 1px solid $color;
            }
            .nab-love {
            }
            .nab-cart {
            }
        }

        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $color;
                }
            }
        }
    }
}

.menubar {
    display: flex;
    align-items: center;
    padding: 0;
    height: 2.5em;
    background-color: $colorGreat;

    .menubar-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .nav-list {
            list-style: none;
            line-height: auto;

            .nav-link {
                height: 2.5em;
                line-height: 2.5em;
                color: #fff;
                padding: 0;
                padding-left: 1em;
                padding-right: 1em;
                transition: $transition;

                &:hover {
                    background-color: $colorHover;
                }
            }
        }
    }
}

// Home - Hero
.hero {
    background-color: $color;

    .container-xl {
        display: flex;
        align-items: flex-start;

        @media only screen and (max-width: 767px) {
            padding: 0;
        }

        .categories {
            height: 20em;
            width: 300px;
            overflow-x: hidden;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                display: none;
            }
            -ms-overflow-style: none;
            scrollbar-width: none;

            .item {
                list-style: none;

                .link {
                    font-size: 15px;
                    padding: 0.5em 1em;
                    display: block;
                    background-color: #fff;
                    color: #666;
                    border-bottom: 1px solid #f9f9f9;
                    transition: $transition;

                    &:hover {
                        color: #fff;
                        background-color: $colorHover;
                    }
                }
            }
        }
        .carousel {
            width: 100%;
            .carousel-inner {
                .carousel-item {
                    height: 20em;

                    @media screen and (max-width: 767px) {
                        height: 233.31px;
                    }

                    img {
                        height: 100%;
                    }
                    .carousel-caption {
                        position: absolute;
                        left: 5%;
                        top: 50%;
                        bottom: auto;
                        padding: 0;
                        transform: translateY(-50%);
                        color: #000;
                        text-align: left;

                        @media only screen and (min-width: 768px) {
                            right: 50%;
                        }

                        .title {
                            color: #333;
                            font-size: 1.5em;
                            margin-bottom: 0;

                            @media only screen and (min-width: 768px) {
                                font-size: 50px;
                            }
                        }
                        .text {
                            color: #444;
                            font-size: 1em;
                        }
                    }
                }
            }

            .carousel-indicators {
                position: absolute;
                bottom: 0;
                li {
                    background-color: transparent;
                    border: 5px solid $color;
                    height: 1em;
                    width: 1em;
                    @include radius(0.5em);
                }
                .active {
                    background-color: transparent;
                }
            }
            .carousel-control-next,
            .carousel-control-prev {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 3em;
                width: 3em;
                border-radius: 0 50% 50% 0;
                background-color: #000;
                color: #000;
                text-align: center;
                opacity: 0;
                transition: $transition;

                .carousel-control-prev-icon,
                .carousel-control-next-icon {
                    filter: none;
                }

                &:hover {
                    opacity: 0.75;
                }
            }
            &:hover {
                .carousel-control-next,
                .carousel-control-prev {
                    opacity: 0.5;
                    &:hover {
                        opacity: 1;
                        background-color: $color;
                    }
                }
            }
            .carousel-control-next {
                border-radius: 50% 0 0 50%;
            }
        }
    }
}

// Section
.section {
    padding-top: 3em;

    .sec-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5em;
        padding: 0.5em 1em;

        .sec-title {
            text-transform: capitalize;
            font-size: 1.5em;
        }
        a {
            color: #333;
        }
        .sec-link {
            text-transform: capitalize;
            transition: $transition;

            &:hover {
                opacity: 0.75;
            }
        }
    }
}

// Category
.category {
    background-color: #fff;
    position: relative;
    overflow: hidden;
    display: block;
    box-shadow: 3px 3px 3px #ededed;
    border-radius: 1em;
    overflow: hidden;

    .image-wrapper {
        height: 283px;
        width: auto;

        @media only screen and (max-width: 767px) {
            height: 150px;
        }

        .image {
            height: 100%;
            transition: $transition;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    &:hover {
        .image-wrapper {
            .image {
                transform: scale(1.15);
            }
        }
        .info {
            bottom: 0;
            .label {
                margin-bottom: 0;
            }
            .qty {
                opacity: 1;
            }
        }
    }

    .info {
        position: absolute;
        bottom: -15%;
        left: 0;
        z-index: 1;
        padding: 1em;
        transition: $transition;

        .label {
            color: #3f3f3f;
            text-transform: uppercase;
            font-size: 1.25em;
            font-weight: bold;
            display: block;
            margin-bottom: 0.5em;
            transition: $transition;
        }
        .qty {
            color: #2d2a2a;
            opacity: 0;
            transition: $transition;
        }
    }
}

// Products - Component
.com_product {
    height: 100%;
    background-color: #fbfbfb;
    border: 1px solid #ededed;
    overflow: hidden;

    .pro_actions {
        text-align: center;
        background-color: #fff;
        box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.25);
        border-radius: 1em;
        opacity: 0;
        transition: $transition;
        z-index: 1;

        .pro_icon {
            color: #333;
            padding: 15px;
            transition: $transition;

            &:hover {
                color: #ff7346;
            }
        }
    }
    &:hover {
        .pro_actions {
            right: 10px;
            transform: translateX(0);
            opacity: 1;
        }
    }

    .pro_title {
        color: #333;
        font-weight: bold;
        text-transform: capitalize;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 1.25em;
        line-height: 1.25em;
        transition: $transition;

        &:hover {
            color: #888;
        }
    }
    // &:hover {
    //     .pro_title{
    //         max-height: 2.5em;
    //     }
    // }
    .pro_category {
        color: #9e9e9e;
        &:hover {
            color: #818181;
        }
    }
    .pro_image {
        margin: 1em 0;
        border: 1px solid #ededed;
        border-radius: 1em;
        overflow: hidden;
        transition: $transition;
        img {
            width: 100%;
            transition: $transition;
        }
    }
    .pro_price {
        color: $color;
        font-weight: bold;
    }

    &:hover {
        .pro_image {
            img {
                transform: scale(1.125);
            }
        }
    }
}

// Product - Show
.productShow {
    .header {
        display: flex;
        justify-content: space-between;
        gap: 0.75em;

        .image {
            height: 25em;

            .image-wrapper {
                height: 25em;
                width: 25em;
                overflow: hidden;
                border: 1px solid #ededed;
                transition: $transition;

                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }

        .informations {
            flex-grow: 1;
            height: auto;
            transition: $transition;

            .title {
                text-transform: capitalize;
                font-weight: bold;
                color: #333;
            }
            .price {
                margin: 1em 0;
                font-weight: bold;
            }
            .overview {
                color: #666;
            }
        }

        .benefits {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 0.5em;

            .item {
                min-width: 292px;
                display: flex;
                align-items: center;
                gap: 1em;
                padding: 1.125em 1em;
                border: 1px solid #ededed;
                transition: $transition;

                &:hover {
                    border: 1px solid $colorGreat;

                    .info {
                        .title {
                            color: $colorGreat;
                        }
                        .sub-title {
                            color: #333;
                        }
                    }
                }

                .icon {
                    color: $colorGreat;
                }
                .info {
                    .title {
                        color: #333;
                        font-size: 0.85em;
                        font-weight: bold;
                    }
                    .sub-title {
                        color: #666;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

.productInfo {
    background-color: #fff;
    border: 1px solid #ededed;
    margin-top: 1.5em;
    padding: 1em;
    width: 100%;

    /* Product Review */
    .tab-content {
        margin-top: 1em;
    }
    .tab-content .productReview {
        background-color: #fff;
    }
    .tab-content .productReview * {
        border-radius: 0;
    }
    #nav-tab a {
        color: #000;
    }
}
.pointer {
    cursor: pointer;
}

/* Product Rating CSS */
.star-rating {
    direction: rtl;
    display: inline-block;
    padding: 0;
}
.star-rating input[type="radio"] {
    display: none;
}
.star-rating label {
    color: #bbb;
    font-size: 18px;
    padding: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type="radio"]:checked ~ label {
    color: #0060a7;
}
.rateActive {
    color: #0060a7;
}
.productReview .card-body {
    padding: 0;
}

.accordion {
    .accordion-item {
        border: 1px dotted #d0d0d0;
        background-color: #fbfbfb;
        margin-bottom: 1em;
        overflow: hidden;

        .accordion-header {
            .accordion-button {
                &:focus {
                    box-shadow: none;
                }
                &:not(.collapsed) {
                    color: $colorGreat;
                    background-color: #fff;
                    box-shadow: none;
                }
            }
        }
        .accordion-body {
            background-color: #fff;
        }
    }
}

// Footer
.footer {
    color: #ededed;
    background-color: $color;
    padding: 4em 1em;

    .foo-list {
        list-style: none;
    }
    a {
        color: #ededed;
    }
}

.copyright {
    display: flex;
    align-items: center;
    height: 50px;
    color: #9ca9be;
    background-color: $colorDark;
    border-top: 1px solid #2c3542;
}
