body {
  font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6, ol, ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.text-accent {
  color: #C9151B;
}

.bg-accent {
  background-color: #C9151B;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: 4.5em;
}

.navbar .navbar-brand .logo {
  height: 2em;
}

.navbar .search-box {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar .search-box .form-control {
  height: 2.5em;
  border-radius: 0.75em 0 0 0.75em;
}

.navbar .search-box .btn {
  display: flex;
  align-items: center;
  height: 2.5em;
  border-radius: 0 0.75em 0.75em 0;
  color: #fff;
  background-color: #C9151B;
}

.navbar .search-box .btn:hover {
  background-color: #af0a0f;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: #C9151B;
}

.menubar {
  display: flex;
  align-items: center;
  padding: 0;
  height: 2.5em;
  background-color: #1A202C;
}

.menubar .menubar-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.menubar .menubar-nav .nav-list {
  list-style: none;
  line-height: auto;
}

.menubar .menubar-nav .nav-list .nav-link {
  height: 2.5em;
  line-height: 2.5em;
  color: #fff;
  padding: 0;
  padding-left: 1em;
  padding-right: 1em;
  transition: 0.125s;
}

.menubar .menubar-nav .nav-list .nav-link:hover {
  background-color: #af0a0f;
}

.hero {
  background-color: #ededed;
}

.hero .container-xl {
  display: flex;
  align-items: flex-start;
}

.hero .container-xl .categories {
  height: 20em;
  width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hero .container-xl .categories::-webkit-scrollbar {
  display: none;
}

.hero .container-xl .categories .item {
  list-style: none;
}

.hero .container-xl .categories .item .link {
  font-size: 15px;
  padding: 0.5em 1em;
  display: block;
  background-color: #fff;
  color: #666;
  border-bottom: 1px solid #f9f9f9;
  transition: 0.125s;
}

.hero .container-xl .categories .item .link:hover {
  color: #fff;
  background-color: #af0a0f;
}

.hero .container-xl .carousel {
  width: 100%;
}

.hero .container-xl .carousel .carousel-inner .carousel-item {
  height: 20em;
}

.hero .container-xl .carousel .carousel-inner .carousel-item img {
  height: 100%;
}

.hero .container-xl .carousel .carousel-inner .carousel-item .carousel-caption {
  position: absolute;
  left: 5%;
  top: 50%;
  bottom: auto;
  padding: 0;
  transform: translateY(-50%);
  color: #000;
  text-align: left;
}

@media only screen and (min-width: 768px) {
  .hero .container-xl .carousel .carousel-inner .carousel-item .carousel-caption {
    right: 50%;
  }
}

.hero .container-xl .carousel .carousel-inner .carousel-item .carousel-caption .title {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .hero .container-xl .carousel .carousel-inner .carousel-item .carousel-caption .title {
    font-size: 50px;
  }
}

.hero .container-xl .carousel .carousel-inner .carousel-item .carousel-caption .text {
  color: #444;
  font-size: 1em;
}

.hero .container-xl .carousel .carousel-indicators {
  position: absolute;
  bottom: 0;
}

.hero .container-xl .carousel .carousel-indicators li {
  background-color: transparent;
  border: 5px solid #C9151B;
  height: 1em;
  width: 1em;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
}

.hero .container-xl .carousel .carousel-indicators .active {
  background-color: transparent;
}

.hero .container-xl .carousel .carousel-control-next, .hero .container-xl .carousel .carousel-control-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  width: 3em;
  border-radius: 0 50% 50% 0;
  background-color: #000;
  color: #000;
  text-align: center;
  opacity: 0;
  transition: 0.125s;
}

.hero .container-xl .carousel .carousel-control-next .carousel-control-prev-icon, .hero .container-xl .carousel .carousel-control-next .carousel-control-next-icon, .hero .container-xl .carousel .carousel-control-prev .carousel-control-prev-icon, .hero .container-xl .carousel .carousel-control-prev .carousel-control-next-icon {
  filter: none;
}

.hero .container-xl .carousel .carousel-control-next:hover, .hero .container-xl .carousel .carousel-control-prev:hover {
  opacity: .75;
}

.hero .container-xl .carousel:hover .carousel-control-next, .hero .container-xl .carousel:hover .carousel-control-prev {
  opacity: .5;
}

.hero .container-xl .carousel:hover .carousel-control-next:hover, .hero .container-xl .carousel:hover .carousel-control-prev:hover {
  opacity: 1;
  background-color: #C9151B;
}

.hero .container-xl .carousel .carousel-control-next {
  border-radius: 50% 0 0 50%;
}

.featured-categories .sec-head .title {
  color: #333;
  text-transform: uppercase;
}

.featured-categories .sec-head .description {
  color: #666;
}

.category {
  background-color: #fff;
  position: relative;
  overflow: hidden;
  display: block;
  box-shadow: 3px 3px 3px #ededed;
  border-radius: 1em;
  overflow: hidden;
}

.category .image-wrapper {
  height: 283px;
  width: auto;
}

@media only screen and (max-width: 767px) {
  .category .image-wrapper {
    height: 150px;
  }
}

.category .image-wrapper .image {
  height: 100%;
  transition: 0.125s;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.category:hover .image-wrapper .image {
  transform: scale(1.15);
}

.category:hover .info {
  bottom: 0;
}

.category:hover .info .label {
  margin-bottom: 0;
}

.category:hover .info .qty {
  opacity: 1;
}

.category .info {
  position: absolute;
  bottom: -15%;
  left: 0;
  z-index: 1;
  padding: 1em;
  transition: 0.125s;
}

.category .info .label {
  color: #3f3f3f;
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: bold;
  display: block;
  margin-bottom: .5em;
  transition: 0.125s;
}

.category .info .qty {
  color: #2d2a2a;
  opacity: 0;
  transition: 0.125s;
}

.com_product {
  height: 100%;
  padding: 1em;
  display: block;
  position: relative;
  border: 1px solid #ededed;
  border-radius: 1em;
  overflow: hidden;
}

.com_product .pro_actions {
  position: absolute;
  text-align: center;
  background-color: #fff;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 1em;
  right: 0;
  bottom: 10px;
  transform: translateX(100%);
  opacity: 0;
  transition: 0.125s;
  z-index: 1;
}

.com_product .pro_actions .pro_icon {
  color: #333;
  padding: 15px;
  transition: 0.125s;
}

.com_product .pro_actions .pro_icon:hover {
  color: #FF7346;
}

.com_product:hover .pro_actions {
  right: 10px;
  transform: translateX(0);
  opacity: 1;
}

.com_product .pro_title {
  color: #333;
  font-weight: bold;
  text-transform: capitalize;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 1.25em;
  line-height: 1.25em;
  transition: 0.125s;
}

.com_product .pro_title:hover {
  color: #888;
  max-height: 2.5em;
}

.com_product:hover .pro_title {
  max-height: 2.5em;
}

.com_product .pro_category {
  color: #9E9E9E;
}

.com_product .pro_category:hover {
  color: #818181;
}

.com_product .pro_image {
  margin: 1em 0;
  border: 1px solid #ededed;
  border-radius: 1em;
  overflow: hidden;
  transition: 0.125s;
}

.com_product .pro_image img {
  width: 100%;
  transition: 0.125s;
}

.com_product .pro_price {
  color: #C9151B;
  font-weight: bold;
}

.com_product:hover .pro_image img {
  transform: scale(1.125);
}
/*# sourceMappingURL=base.css.map */